//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 06 13:51:29 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk_100MHz" LOCATE = SITE "L15" LEVEL 1;
COMP "button<0>" LOCATE = SITE "F6" LEVEL 1;
COMP "button<1>" LOCATE = SITE "F5" LEVEL 1;
COMP "button<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "button<3>" LOCATE = SITE "N4" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "item<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "item<1>" LOCATE = SITE "R5" LEVEL 1;
COMP "item<2>" LOCATE = SITE "T5" LEVEL 1;
COMP "item<3>" LOCATE = SITE "E4" LEVEL 1;
SCHEMATIC END;

